<h1>メッセージ 一覧</h1>
<%= link_to "投稿画面へ", new_message_path %>
<% @messages.each do |message| %>
  <p>
    <!-- 以下の2行のコードを追加 -->
    <%= message.title %>
    <%= link_to "詳細", message_path(message.id) %>
  </p>
<% end %>